[submodule ".rbenv/plugins/rbenv-ctags"]
	path = .rbenv/plugins/rbenv-ctags
	url = git@github.com:tpope/rbenv-ctags.git
[submodule ".rbenv/plugins/rbenv-default-gems"]
	path = .rbenv/plugins/rbenv-default-gems
	url = git@github.com:sstephenson/rbenv-default-gems.git
