.DS_Store
.buildpath
.bundle
coverage/
.envrc
Gemfile.lock
.idea/
pkg/
.project
.settings/
.smartgf_tags*
.solargraph.yml
tags
tmp/
tmtags
tmtagsHistory
.tm_properties
.vimrc
.vagrant/
/vendor/
.zeus.sock
